@import "tailwindcss";

@font-face {
  font-family: "Chillax";
  src: url("/chillax/Chillax-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Chillax";
  src: url("/chillax/Chillax-Bold.otf") format("opentype");
  font-weight: 700;
}

.font-chillax {
  font-family: "Chillax", sans-serif;
}